<template>
  <div>
    <v-alert type="success" data-cy="alert-success">{{ message }}</v-alert>
  </div>
</template>

<script>
/**
 * A Vuetify alert set to type "success"
 */
export default {
  name: 'AlertSuccess',
  props: {
    /**
     * The message to display
     */
    message: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass">
  //
</style>
