<template>
<v-app>
  <v-main>
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <v-alert type="success">{{message}}</v-alert>
    <LoginBox/>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</v-app>
</template>

<script>
import LoginBox from '@/components/regular/LoginBox'
export default {
  name: 'AdminApp',
  components: { LoginBox },
  props: ['message']
}
</script>

<style scoped>

</style>
