<template>
  <v-card class="elevation-12" :loading="loading">
    <!-- @slot Use this slot to inject a logo -->
    <slot name="logo"><LoginBoxCardLogo/></slot>
    <v-divider/>
    <!-- @slot Use this slot to inject title text -->
    <LoginBoxCardTitle><slot name="title"></slot></LoginBoxCardTitle>
    <!-- @slot Use this slot to inject the body content of the card -->
    <slot name="body">
      <v-card-text>
        <!-- @slot Use this slot to inject the card text -->
        <slot name="text"></slot>
      </v-card-text>
      <v-card-actions>
        <!-- @slot Use this slot to inject the card actions -->
        <slot name="actions"></slot>
      </v-card-actions>
    </slot>
  </v-card>
</template>

<script>
/**
 * A Vuetify card branded with a Crossref logo at the top
 */
import LoginBoxCardLogo from '@/components/regular/LoginBoxCardLogo'
import LoginBoxCardTitle
  from '@/components/regular/LoginBoxCardTitle'

export default {
  name: 'BrandedCard',
  components: {
    LoginBoxCardTitle,
    LoginBoxCardLogo
  },
  props: {
    /**
     * Whether the loading/progress bar should be shown
     */
    loading: {
      type: Boolean
    }
  }
}
</script>

<style scoped>

</style>
