<template>
<div>
  <p>{{ $vuetify.lang.t('$vuetify.api_endpoint') }}:
    {{ this.$root.config.authApiBaseUrl }}</p>
</div>
</template>

<script>
export default {
  name: 'Endpoint'
}
</script>

<style scoped>

</style>
