<template>
  <div data-cy="login-box">
    <keep-alive>
      <!-- TODO: Move the v-if to a computed property -->
      <LoginBoxStepAuthenticate
        :loading="loading"
        :error-message="errorMessage"
        v-if="showLoginBoxStepAuthenticate"
        @authLoginFormSubmit="onAuthLoginFormSubmit"
      >
      </LoginBoxStepAuthenticate>
    </keep-alive>
    <LoginBoxStepSelectRole
      v-if="showLoginBoxStepSelectRole"
      :loading="loading"
      :username="username"
      :roles="roles"
      :error-message="errorMessage"
      @roleSelected="onSelectRole"
      @goBack="onGoBack">
    </LoginBoxStepSelectRole>
    <LoginBoxStepNoRolesAssigned
      v-if="showLoginBoxStepNoRolesAssigned"
      :username="username"
      @restartLogin="restartLogin"
    />
    <RoleSelectedMessage
      v-if="showRoleSelectedMessage"
      :role="role"
      :username="username"
      :error-message="errorMessage"
    />
  </div>
</template>

<script>
/**
 * Handles the capture and submission of user credentials
 *
 * There is a state machine handling the authentication state, which is described in src/machines/authMachine.js
 * The authentication API calls are handled by the Auth library, which is defined in src/api/Auth.js.
 */
import LoginBoxStepAuthenticate
  from '@/components/regular/LoginBoxStepAuthenticate'
import LoginBoxStepSelectRole
  from '@/components/regular/LoginBoxStepSelectRole'
import RoleSelectedMessage from '@/components/regular/RoleSelectedMessage'
import LoginBoxStepNoRolesAssigned
  from '@/components/regular/LoginBoxStepNoRolesAssigned'
import { Auth } from '@/api/Auth'
import { interpret } from 'xstate'
import { authMachine } from '@/machines/authMachine'

export default {
  name: 'LoginBox',
  components: {
    LoginBoxStepNoRolesAssigned,
    RoleSelectedMessage,
    LoginBoxStepSelectRole,
    LoginBoxStepAuthenticate
  },
  props: {
    source: String
  },
  created () {
    /**
     * @type {Auth} Create a new instance of the Auth class, passing the app config to it
     */
    this.auth = new Auth(this.$root.$data.config)
    // Start Auth Machine service on component creation
    this.authMachineService
      .onTransition(state => {
        // Update the current state component data property with the next state
        this.current = state
        // Update the context component data property with the updated context
        this.context = state.context
      })
      .start()
  },
  data () {
    return {
      /** Interpret the machine and store it in data */
      authMachineService: interpret(authMachine),

      /** Start with the machine's initial state */
      current: authMachine.initialState,

      /** Start with the machine's initial context */
      context: authMachine.context,
      errorMessage: null,
      isLoginFormValid: false,
      username: '',
      password: '',
      role: null,
      roles: [],
      token: null
    }
  },
  computed: {
    /**
     * Whether the 'login' button is clickable
     *
     * @returns {boolean}
     */
    isLoginButtonEnabled: function () {
      switch (this.current.value) {
        case 'authenticate':
          return this.isLoginFormValid
        case 'authenticated.rolesAssigned':
          return this.role !== null
      }
      return false
    },
    /**
     * Whether the loading bar should be shown
     *
     * @returns {boolean}
     */
    loading: function () {
      return ['authenticating', 'authenticated.rolesAssigned.authorisingRole'].some(this.current.matches)
    },
    showLoginBoxStepAuthenticate: function () {
      return ['unauthenticated', 'authenticating'].some(this.current.matches) || (this.current.matches({ authenticated: { rolesAssigned: 'authorisingRole' } }) && this.roles.length === 1)
    },
    showLoginBoxStepSelectRole: function () {
      return [{ authenticated: { rolesAssigned: 'idle' } }, { authenticated: { rolesAssigned: 'authorisingRole' } }].some(this.current.matches) && !this.hasSingleRole
    },
    showLoginBoxStepNoRolesAssigned: function () {
      return this.current.matches({ authenticated: 'noRolesAssigned' })
    },
    showRoleSelectedMessage: function () {
      return this.current.matches({ authenticated: { rolesAssigned: 'roleAuthorised' } })
    },
    hasSingleRole: function () {
      return this.roles.length === 1
    }
  },
  methods: {
    /** Send events to the authMachine service */
    send (event) {
      this.authMachineService.send(event)
    },
    /**
     * Called when a user clicks the 'restart' button
     * Reset the data
     */
    restartLogin () {
      this.username = ''
      this.password = ''
      this.token = null
      this.roles = null
      this.isLoginFormValid = false
      this.send('RESTART')
    },
    /**
     * Called when a user clicks the 'login' button
     *
     * @param payload
     * @returns {Promise<void>}
     */
    async onAuthLoginFormSubmit (payload) {
      this.errorMessage = null
      this.username = payload.username
      this.send('SEND_CREDENTIALS')
      const loginResponse = await this.auth.login(payload)
      if (loginResponse.authenticated === false) {
        this.errorMessage = loginResponse.errorMessage
        this.send('AUTH_FAIL')
        return
      }
      this.onAuthSuccess(
        {
          username: payload.username,
          password: payload.password,
          roles: loginResponse.roles,
          token: loginResponse.token
        }
      )
    },
    /**
     * Called when the auth API returns a successful response
     * @param payload
     */
    onAuthSuccess (payload) {
      this.send('AUTH_SUCCESS')
      this.password = payload.password
      this.token = payload.token
      this.onRolesReceived(payload)
    },
    /**
     * Called when the auth API returns an (possibly empty) list of assigned roles
     * @param payload
     */
    onRolesReceived (payload) {
      if (Array.isArray(payload.roles) && payload.roles.length < 1) {
        this.send('ROLES_EMPTY')
        return
      }
      this.send('ROLES_ASSIGNED')
      this.roles = payload.roles
      // If only one role is returned, automatically select it
      if (payload.roles.length === 1) {
        this.onSelectRole({
          role: payload.roles[0]
        })
      }
    },
    /**
     * Called when a user selects a role and clicks 'continue'
     * @param payload
     * @returns {Promise<void>}
     */
    async onSelectRole (payload) {
      this.send('ROLE_SELECTED')
      const authoriseRoleResponse = await this.authoriseRoleSelection(payload.role)
      if (typeof authoriseRoleResponse.errorMessage === 'string' && authoriseRoleResponse.errorMessage.length > 0) {
        this.errorMessage = authoriseRoleResponse.errorMessage
        this.send('AUTHORISE_FAIL')
        return
      }
      this.role = payload.role
      this.onRoleAuthorised(authoriseRoleResponse)
    },
    /**
     * Called when the auth API responds successfully to a role authorisation request
     * @param payload
     */
    onRoleAuthorised (payload) {
      this.send('AUTHORISE_SUCCESS')
      const event = new CustomEvent('roleAuthorised', { detail: payload })
      window.dispatchEvent(event)
      if (this.$root.config.redirectOnRoleAuthorisation) {
        if (payload.redirect) {
          window.location.replace(`${payload.redirect}`)
        } else {
          location.reload()
        }
      }
      this.$emit('loginScreenDeactivate')
    },
    /**
     * Calls the auth API to request a user assume a particular role
     * @param role
     * @returns {Promise<*>}
     */
    async authoriseRoleSelection (role) {
      const payload = {
        username: this.username,
        password: this.password,
        role: role
      }
      const config = {
        token: this.token
      }
      const response = await this.auth.authoriseRole(payload, config)
      return response
    },
    /**
     * Called when a user clicks the 'Back' button
     */
    onGoBack () {
      this.errorMessage = null
      this.send('GO_BACK')
    }
  }
}
</script>

<style scoped>

</style>
