<template>
  <LoginBoxCard :loading="loading" >
    <template v-slot:title>Crossref Login</template>
    <template v-slot:body>
      <!--
      Triggered on receipt of the authLoginFormSubmit event from the user credentials form
      @event authLoginFormSubmit
      -->
      <LoginBoxFormUserCredentials
        v-model="isLoginFormValid"
        @authLoginFormSubmit="onAuthLoginFormSubmit"
        :error-message="errorMessage"/>
    </template>
  </LoginBoxCard>
</template>

<script>
/**
 * Displays the form to capture username and password
 */
import LoginBoxCard from '@/components/regular/LoginBoxCard'
import LoginBoxFormUserCredentials from '@/components/regular/LoginBoxFormUserCredentials'
export default {
  name: 'LoginBoxStepAuthenticate',
  components: { LoginBoxFormUserCredentials, LoginBoxCard },
  props: {
    /**
     * Whether the loading bar should be shown
     */
    loading: {
      type: Boolean
    },
    /**
     * The error message to display, if any
     */
    errorMessage: {
      type: String
    }
  },
  data () {
    return {
      isLoginFormValid: false
    }
  },
  methods: {
    /**
     * Called when the authLoginFormSubmit event is received from the user crendentials form
     * @param payload {object} the username and password
     */
    onAuthLoginFormSubmit (payload) {
      this.$emit('authLoginFormSubmit', payload)
    }
  }
}
</script>

<style scoped>

</style>
