<template>
  <LoginBoxCard>
    <template #title>{{ $vuetify.lang.t('$vuetify.UserCredentialsForm.login_succeeded_no_roles_assigned') }}</template>
    <template #text>
      <BaseInputUsername :value="username" :disabled="true"/>
      There are no roles linked to this account.
      <v-spacer/>
      Contact Crossref support team at <a :href="supportMailto">{{ $vuetify.lang.t('$vuetify.customer_support_email_address') }}</a> or open the support contact form.
    </template>
    <template #actions>
      <v-btn type="button" color="primary" :href="supportUrl" target="_new">Contact support</v-btn>
      <!--
      Triggered when the restart button is clicked
      @event restartLogin
      -->
      <v-btn text color="secondary" @click="restartLogin">Restart</v-btn>
    </template>
  </LoginBoxCard>
</template>

<script>
/**
 * Informational card displayed when a user has no roles assigned to their account
 */
import LoginBoxCard from '@/components/regular/LoginBoxCard'
import BaseInputUsername from '@/components/base/BaseInputUsername'
export default {
  name: 'LoginBoxStepNoRolesAssigned',
  props: {
    username: {
      type: String,
      required: true
    }
  },
  computed: {
    /**
     * The Crossref Support email address
     * @returns {string}
     */
    supportMailto: function () {
      const supportEmail = this.$vuetify.lang.t('$vuetify.customer_support_email_address')
      return `mailto:${supportEmail}`
    },
    supportUrl: function () {
      return this.$vuetify.lang.t('$vuetify.customer_support_contact_url')
    }
  },
  components: { BaseInputUsername, LoginBoxCard },
  methods: {
    restartLogin () {
      /**
       * Restart login event
       */
      this.$emit('restartLogin')
    }
  }
}
</script>

<style lang="sass">
  //
</style>
