<template>
  <!--
  Triggered on click of login button
  @event sendFormValues
  -->
  <v-form data-cy="login-box-form-user-credentials" v-model="isLoginFormValid" @submit.prevent="sendFormValues">
    <v-card-text>
      <AlertError :error-message="errorMessage"/>
      <BaseInputUsername v-model="username" :disabled="false"/>
      <BaseInputPassword v-model="password"/>
    </v-card-text>
    <v-card-actions>
      <v-container>
        <v-row>
          <v-col cols="6"></v-col>
          <v-col col="6">
            <LoginBoxActionButtonLogin
              :disabled="!isLoginFormValid"></LoginBoxActionButtonLogin>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-right">
            <ForgotYourPasswordLink/>
          </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-form>
</template>

<script>
/**
 * The form to capture the user's login credentials
 * The form's model is bound to isLoginFormValid
 */
import BaseInputUsername from '@/components/base/BaseInputUsername'
import BaseInputPassword from '@/components/base/BaseInputPassword'
import LoginBoxActionButtonLogin
  from '@/components/regular/LoginBoxActionButtonLogin'
import AlertError
  from '@/components/regular/AlertError'
import ForgotYourPasswordLink from '@/components/regular/ForgotYourPasswordLink'

export default {
  name: 'LoginBoxFormUserCredentials',
  components: {
    AlertError,
    ForgotYourPasswordLink,
    LoginBoxActionButtonLogin,
    BaseInputUsername,
    BaseInputPassword
  },
  props: {
    /**
     * The error message to display, if any
     */
    errorMessage: {
      type: String
    }
  },
  data () {
    return {
      username: '',
      password: '',
      /**
       * @model
       */
      isLoginFormValid: false
    }
  },
  methods: {
    /**
     * Called when a user submits the form
     * @returns {boolean}
     */
    sendFormValues () {
      if (!this.isLoginFormValid) return false
      const payload = { ...this.$data }
      /**
       * Login form submitted event
       *
       * @property {object} the username and password
       */
      this.$emit('authLoginFormSubmit', payload)
    }
  }
}
</script>

<style scoped>

</style>
