<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-width="200"
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-btn large icon v-on="on">
        <v-icon size="30" color="white">mdi-palette</v-icon>
      </v-btn>
    </template>
    <v-card>
      <!--      menu content start -->
      <v-list-item>
        <v-list-item-content
        ><v-list-item-title class="font-weight-bold">
          Dark Theme</v-list-item-title
        >
        </v-list-item-content>
        <v-list-item-action
        ><v-switch v-model="$vuetify.theme.dark" />
        </v-list-item-action>
      </v-list-item>
      <v-divider />
      <!--      menu content end -->
    </v-card> </v-menu
  ></template>

<script>
/**
 * Proof-of-concept menu widget to change the theme of the UI from light to dark.
 */
export default {
  name: 'ThemeChangerMenu',
  data: () => ({
    menu: false
  }),
  methods: {
  }
}
</script>
