<template>
  <v-text-field
    data-cy="username-input"
    label="Username"
    :rules="[rules.required, rules.minLength]"
    name="username"
    :disabled="disabled"
    prepend-icon="mdi-account"
    type="text"
    :value="value"
    @input="$emit('input', $event)"
  >
  </v-text-field>
</template>

<script>
/**
 * A text field to receive a username
 */
export default {
  name: 'BaseInputUsername',
  props: {
    /**
     * The username value (if it exists already)
     */
    value: {
      type: String,
      required: true
    },
    /**
     * Whether the input control is disabled or allows input
     */
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      /**
       * Validation rules
       */
      rules: {
        required: value => !!value || 'Required.',
        minLength: value => (value && value.length >= 3) || 'Username must be 3 or more characters'
      }
    }
  }
}
</script>

<style scoped>

</style>
